import type { ReactNode } from "react";
import { __FONT_IMPORT__ } from "next/font/google";

const __FONT_CONST__ = __FONT_IMPORT__({ subsets: ["latin"] });

export default function Layout({ children }: { children: ReactNode }) {
  return (
    <html lang="en">
      <body className={__FONT_CONST__.className}>{children}</body>
    </html>
  );
}
